*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: url(Photos-regis/jack-dong-326xg_SUyoM-unsplash.jpg);
    background-position: center;
    background-size: cover;
}

.contenedor{
    position: relative;
    width: 600px;
    border: 2px solid rgb(255, 255, 255, .6);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor h2{
    font-size: 2.3rem;
    color: #fff;
    text-align: center;
}

.input-contenedor{
    position: relative;
    margin: 30px 0;
    width: 500px;
    border-bottom: 2px solid #fff;
    background-color: transparent;
}

.input-contenedor label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1rem;
    pointer-events: none;
    transition: .6s;
    font-family: bold;
}

input:focus label,
input:valid label{
    top: -5px;
}

.input-contenedor input{
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: -35px 0 5px;
    color: #fff;
}

.input-contenedor i{
    position: absolute;
    color: #fff;
    font-size: 1.6rem;
    top: 19px;
    right: 8px;
}

button{
    width: 100%;
    height: 45px;
    border-radius: 40px;
    background-color: #fff;
    border: none;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    font-size: 1rem;
    transition: .4s;
}

button:hover{
    opacity: .9;
}

.registrar{
    font-size: 8.rem;
    color: #fff;
    text-align: center;
    margin: 20px 0 10px;
}

.registrar p a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: .3s;
}

.registrar p a :hover{
    text-decoration: underline;
}