<!DOCTYPE html>
<html>
    <body>
        <head>
            <link rel="stylesheet" href="Layout.css">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>New-launches</title>
            <script src="back.js"></script>
        </head>

        <header>
            
            <div class="header-logo">
                <a href="/Homepage/Inicio.html" class="Logo-button">
                    <img src="file (4).png" alt="Logo" class="Logo">
                </a>
            </div>

            <div class="header-explore">

                <a href="/Favoritos/Favoritosp.html" class="Login-button">
                    <span>Explorar</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-image" viewBox="0 0 16 16">
                        <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
                        <path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1z"/>
                      </svg>
                </a>

                <a href="Fav.html" class="new-button">
                    <span>Iniciar sesion</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                      </svg>
                </a>
                
            </div>

            <video id="myVideo" autoplay muted loop>
                <source src="Y2meta.app-Flame Spitting Aventador S in [4K]-(1080p).mp4" type="video/mp4">
            </video>

        </header>

        <div class="Teniscontenedor">
            <h1>Ofrecemos imagenes de carros o de fotos casuales</h1>
            <p>AV no solo brinda imagenes de carros, deportivos, tabien brindamos fotos casuales</p>
            <p>Donde fotografos de todo tipo puedan expresar sus imagenes, para que las personas las descarguen</p>
        </div>

        <body>
            <div class="gallery">

                <div class="gallery-item">
                    <img src="Mclaren.jpg" alt="Descripción de la imagen 1" class="background-image">
                    <button class="favorite-button" onclick="addToFavorites('/Proyecto-repo/Layout/Photos-layout/sven-piper-EkVOlgfEP-4-unsplash.jpg')">Agregar a Favoritos</button>
                    <a href="Mclaren.jpg" download="Lambo" class="download-button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z"/>
                      </svg></a>
                </div>
                <div class="gallery-item">
                    <img src="rinlambo.jpg" alt="Descripción de la imagen 2">
                    <button class="favorite-button" onclick="addToFavorites('/Proyecto-repo/Layout/Photos-layout/maxime-renard-Li155fhUDP4-unsplash.jpg')">Agregar a Favoritos</button>
                    <a href="tu-imagen.jpg" download="nombre-imagen.jpg" class="download-button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z"/>
                      </svg></a>
                </div>
                <div class="gallery-item">
                    <img src="bmwrueda.jpg" alt="Descripción de la imagen 3">
                    <button class="favorite-button" onclick="addToFavorites('/Proyecto-repo/Layout/Photos-layout/maxime-renard-Li155fhUDP4-unsplash.jpg')">Agregar a Favoritos</button>
                </div>

                <div class="gallery-item">
                    <img src="srt.png" alt="Descripción de la imagen 3">
                    <button class="favorite-button" onclick="addToFavorites('/Proyecto-repo/Layout/Photos-layout/maxime-renard-Li155fhUDP4-unsplash.jpg')">Agregar a Favoritos</button>
                </div>
                <div class="gallery-item">
                    <img src="gt500mustang.png">
                    <button class="favorite-button" onclick="addToFavorites('/Proyecto-repo/Layout/Photos-layout/maxime-renard-Li155fhUDP4-unsplash.jpg')">Agregar a Favoritos</button>
                </div>
                <div class="gallery-item">
                    <img src="r8d1.png">
                    <button class="favorite-button" onclick="addToFavorites('/Proyecto-repo/Layout/Photos-layout/maxime-renard-Li155fhUDP4-unsplash.jpg')">Agregar a Favoritos</button>
                </div>

                <div class="gallery-item">
                    <img src="amir-hosseini-f_cfOdSLpAc-unsplash.jpg">
                    <button class="favorite-button" onclick="addToFavorites('/Proyecto-repo/Layout/Photos-layout/maxime-renard-Li155fhUDP4-unsplash.jpg')">Agregar a Favoritos</button>
                </div>
                <div class="gallery-item">
                    <img src="aamrilloporshce.jpg">
                    <button class="favorite-button" onclick="addToFavorites('/Proyecto-repo/Layout/Photos-layout/maxime-renard-Li155fhUDP4-unsplash.jpg')">Agregar a Favoritos</button>
                </div>
                <div class="gallery-item">
                    <img src="luke-miller-ZhYDpKb3Y_g-unsplash.jpg" alt="Descripción de la imagen 1">
                    <button class="favorite-button" onclick="addToFavorites('/Proyecto-repo/Layout/Photos-layout/maxime-renard-Li155fhUDP4-unsplash.jpg')">Agregar a Favoritos</button>
                </div>

                <div class="gallery-item">
                    <img src="maxime-renard-Li155fhUDP4-unsplash.jpg" alt="Descripción de la imagen 2">
                    <button class="favorite-button" onclick="addToFavorites('/Proyecto-repo/Layout/Photos-layout/maxime-renard-Li155fhUDP4-unsplash.jpg')">Agregar a Favoritos</button>
                </div>
                <div class="gallery-item">
                    <img src="r8.jpg" alt="Descripción de la imagen 3">
                    <button class="favorite-button" onclick="addToFavorites('/Proyecto-repo/Layout/Photos-layout/maxime-renard-Li155fhUDP4-unsplash.jpg')">Agregar a Favoritos</button>
                </div>
                <div class="gallery-item">
                    <img src="tim-sessinghaus-e_r09He4YS8-unsplash.jpg" alt="Descripción de la imagen 3">
                    <button class="favorite-button" onclick="addToFavorites('/Proyecto-repo/Layout/Photos-layout/maxime-renard-Li155fhUDP4-unsplash.jpg')">Agregar a Favoritos</button>
                </div>

                <div class="gallery-item">
                    <img src="image.png">
                    <button class="favorite-button" onclick="addToFavorites('/Proyecto-repo/Layout/Photos-layout/maxime-renard-Li155fhUDP4-unsplash.jpg')">Agregar a Favoritos</button>
                </div>
                <div class="gallery-item">
                    <img src="supramk5.png">
                    <button class="favorite-button" onclick="addToFavorites('/Proyecto-repo/Layout/Photos-layout/maxime-renard-Li155fhUDP4-unsplash.jpg')">Agregar a Favoritos</button>
                </div>
                <div class="gallery-item">
                    <img src="supraatras.png">
                    <button class="favorite-button" onclick="addToFavorites('/Proyecto-repo/Layout/Photos-layout/maxime-renard-Li155fhUDP4-unsplash.jpg')">Agregar a Favoritos</button>
                </div>

                <div class="gallery-item">
                    <img src="agenciar8.png">
                    <button class="favorite-button" onclick="addToFavorites('/Proyecto-repo/Layout/Photos-layout/maxime-renard-Li155fhUDP4-unsplash.jpg')">Agregar a Favoritos</button>
                </div>
                <div class="gallery-item">
                    <img src="lambo.png" alt="Descripción de la imagen 1">
                    <button class="favorite-button" onclick="addToFavorites('/Proyecto-repo/Layout/Photos-layout/maxime-renard-Li155fhUDP4-unsplash.jpg')">Agregar a Favoritos</button>
                </div>
                <div class="gallery-item">
                    <img src="gatito.png"Descripción de la imagen 2">
                    <button class="favorite-button" onclick="addToFavorites('/Proyecto-repo/Layout/Photos-layout/maxime-renard-Li155fhUDP4-unsplash.jpg')">Agregar a Favoritos</button>
                </div>

                <div class="gallery-item">
                    <img src="sven-piper-EkVOlgfEP-4-unsplash.jpg" alt="Descripción de la imagen 3">
                    <button class="favorite-button" onclick="addToFavorites('/Proyecto-repo/Layout/Photos-layout/maxime-renard-Li155fhUDP4-unsplash.jpg')">Agregar a Favoritos</button>
                </div>
                <div class="gallery-item">
                    <img src="bmwrojo.jpg" alt="Descripción de la imagen 3">
                    <button class="favorite-button" onclick="addToFavorites('/Proyecto-repo/Layout/Photos-layout/maxime-renard-Li155fhUDP4-unsplash.jpg')">Agregar a Favoritos</button>
                </div>
                <div class="gallery-item">
                    <img src="tai-s-captures-MU85YmmGzOg-unsplash.jpg">
                    <button class="favorite-button" onclick="addToFavorites('/Proyecto-repo/Layout/Photos-layout/maxime-renard-Li155fhUDP4-unsplash.jpg')">Agregar a Favoritos</button>
                </div>

                <div class="gallery-item">
                    <img src="porschegt3rs.jpg">
                    <button class="favorite-button" onclick="addToFavorites('/Proyecto-repo/Layout/Photos-layout/maxime-renard-Li155fhUDP4-unsplash.jpg')">Agregar a Favoritos</button>
                </div>
                <div class="gallery-item">
                    <img src="whiteporshce.jpg">
                    <button class="favorite-button" onclick="addToFavorites('/Proyecto-repo/Layout/Photos-layout/maxime-renard-Li155fhUDP4-unsplash.jpg')">Agregar a Favoritos</button>
                </div>
                <div class="gallery-item">
                    <img src="porschegt3.jpg">
                    <button class="favorite-button" onclick="addToFavorites('/Proyecto-repo/Layout/Photos-layout/maxime-renard-Li155fhUDP4-unsplash.jpg')">Agregar a Favoritos</button>
                </div>
                <!-- Añadir más imágenes según sea necesario -->
            </div>
        </body>
        
    </body>
</html>